<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.visa.mapper.OrderMessageMapper">
    
    <resultMap type="OrderMessage" id="OrderMessageResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="senderType"    column="sender_type"    />
        <result property="content"    column="content"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="createTime"    column="create_time"    />
        <result property="customerId" column="customer_id" />
        <result property="isAi" column="is_ai" />
        <result property="orderNo" column="order_no" />

    </resultMap>

    <sql id="selectOrderMessageVo">
        select m.id,
               order_id,
               sender_type,
               content,
               image_url,
               m.create_time,
               m.customer_id,
               is_ai,
               o.order_no
        from order_message m
                 left join visa_order o on m.order_id = o.id
    </sql>

    <select id="selectOrderMessageList" parameterType="OrderMessage" resultMap="OrderMessageResult">
        <include refid="selectOrderMessageVo"/>
        <where>  
            <if test="orderId != null "> and m.order_id = #{orderId}</if>
            <if test="senderType != null "> and m.sender_type = #{senderType}</if>
            <if test="content != null  and content != ''"> and m.content = #{content}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and m.image_url = #{imageUrl}</if>
            <if test="customerId != null "> and m.customer_id = #{customerId}</if>
             <if test="isAi != null "> and is_ai = #{isAi}</if>
        </where>
    </select>
    
    <select id="selectOrderMessageById" parameterType="Long" resultMap="OrderMessageResult">
        <include refid="selectOrderMessageVo"/>
        where id = #{id}
    </select>

    <insert id="insertOrderMessage" parameterType="OrderMessage" useGeneratedKeys="true" keyProperty="id">
        insert into order_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="senderType != null">sender_type,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="isAi != null">is_ai,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="senderType != null">#{senderType},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="isAi != null">#{isAi},</if>
         </trim>
    </insert>

    <update id="updateOrderMessage" parameterType="OrderMessage">
        update order_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="senderType != null">sender_type = #{senderType},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="isAi != null">is_ai = #{isAi},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderMessageById" parameterType="Long">
        delete from order_message where id = #{id}
    </delete>

    <delete id="deleteOrderMessageByIds" parameterType="String">
        delete from order_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>