<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.visa.mapper.VisaProductMapper">

    <resultMap type="VisaProduct" id="VisaProductResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="countryId" column="country_id"/>
        <result property="typeId" column="type_id"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="requirementsConfig" column="requirements_config"/>
        <result property="isInterviewRequired" column="is_interview_required"/>
        <result property="processingTime" column="processing_time"/>
        <result property="validityPeriod" column="validity_period"/>
        <result property="maxStayDays" column="max_stay_days"/>
        <result property="districtId" column="district_id"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="countryName" column="country_name"/>
        <result property="typeName" column="type_name"/>
        <result property="districtName" column="district_name"/>
        <result property="coverArea" column="cover_area" />
    </resultMap>

    <sql id="selectVisaProductVo">
        select p.id,
               p.title,
               p.price,
               p.image,
               p.requirements_config,
               p.status,
               p.country_id,
               p.type_id,
               p.district_id,
               p.is_interview_required,
               p.processing_time,
               p.validity_period,
               p.max_stay_days,
               c.name as country_name,
               t.name as type_name,
               d.name as district_name,
               d.cover_area as cover_area
        from visa_product p
                 left join visa_country c on p.country_id = c.id
                 left join visa_type t on p.type_id = t.id
                 left join visa_district d on p.district_id = d.id
    </sql>

    <select id="selectVisaProductList" parameterType="VisaProduct" resultMap="VisaProductResult">
        <include refid="selectVisaProductVo"/>
        <where>
            <if test="title != null  and title != ''">and title = #{title}</if>
            <if test="countryId != null ">and country_id = #{countryId}</if>
            <if test="typeId != null ">and type_id = #{typeId}</if>
            <if test="price != null ">and price = #{price}</if>
            <if test="image != null  and image != ''">and image = #{image}</if>
            <if test="requirementsConfig != null  and requirementsConfig != ''">and requirements_config =
                #{requirementsConfig}
            </if>
            <if test="isInterviewRequired != null ">and is_interview_required = #{isInterviewRequired}</if>
            <if test="processingTime != null  and processingTime != ''">and processing_time = #{processingTime}</if>
            <if test="validityPeriod != null  and validityPeriod != ''">and validity_period = #{validityPeriod}</if>
            <if test="maxStayDays != null  and maxStayDays != ''">and max_stay_days = #{maxStayDays}</if>
            <if test="districtId != null ">and district_id = #{districtId}</if>
            <if test="status != null ">and p.status = #{status}</if>
        </where>
    </select>

    <select id="selectVisaProductById" parameterType="Long" resultMap="VisaProductResult">
        <include refid="selectVisaProductVo"/>
        where p.id = #{id}
    </select>

    <insert id="insertVisaProduct" parameterType="VisaProduct" useGeneratedKeys="true" keyProperty="id">
        insert into visa_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="countryId != null">country_id,</if>
            <if test="typeId != null">type_id,</if>
            <if test="price != null">price,</if>
            <if test="image != null">image,</if>
            <if test="requirementsConfig != null">requirements_config,</if>
            <if test="isInterviewRequired != null">is_interview_required,</if>
            <if test="processingTime != null">processing_time,</if>
            <if test="validityPeriod != null">validity_period,</if>
            <if test="maxStayDays != null">max_stay_days,</if>
            <if test="districtId != null">district_id,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="countryId != null">#{countryId},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="price != null">#{price},</if>
            <if test="image != null">#{image},</if>
            <if test="requirementsConfig != null">#{requirementsConfig},</if>
            <if test="isInterviewRequired != null">#{isInterviewRequired},</if>
            <if test="processingTime != null">#{processingTime},</if>
            <if test="validityPeriod != null">#{validityPeriod},</if>
            <if test="maxStayDays != null">#{maxStayDays},</if>
            <if test="districtId != null">#{districtId},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateVisaProduct" parameterType="VisaProduct">
        update visa_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="countryId != null">country_id = #{countryId},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="requirementsConfig != null">requirements_config = #{requirementsConfig},</if>
            <if test="isInterviewRequired != null">is_interview_required = #{isInterviewRequired},</if>
            <if test="processingTime != null">processing_time = #{processingTime},</if>
            <if test="validityPeriod != null">validity_period = #{validityPeriod},</if>
            <if test="maxStayDays != null">max_stay_days = #{maxStayDays},</if>
            <if test="districtId != null">district_id = #{districtId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateProductStatus">
        update visa_product set status = #{status} where id = #{id}
    </update>
    <update id="updateProductStatusByCountryId">
        update visa_product set status = #{status} where country_id = #{countryId}
    </update>
    <update id="updateProductStatusByDistrictId">
        update visa_product set status = #{status} where district_id = #{districtId}
    </update>
    <update id="updateProductStatusByTypeId">
        update visa_product set status = #{status} where type_id = #{typeId}
    </update>

    <delete id="deleteVisaProductById" parameterType="Long">
        delete
        from visa_product
        where id = #{id}
    </delete>

    <delete id="deleteVisaProductByIds" parameterType="String">
        delete from visa_product where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>